.choosed-amazing {
  width: 100%;
  height: 442px;
  margin-bottom: 24px;
  .choosed-amazing-body {
    width: 100%;
    height: 100%;
    padding: 28px 0;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    background-color: #ef3b50;
    .Swiper {
      width: 100%;
      height: 100%;
      display: flex;
      .mySwiper-usedamazing {
        width: 100%;
        height: 386px;
        text-align: center;
        padding-left: 20px !important;
        overflow: hidden;
        position: relative;
        list-style: none;
        z-index: 1;
        .swiper-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          z-index: 1;
          column-gap: 7px;
          position: relative;
          .swiper-slide-first {
            width: 209px;
            height: 100%;
            margin-left: 8px;
            .slide-first-body {
              width: 145px;
              height: inherit;
              margin-left: 32px;
              margin-right: 32px;
              padding: 24px 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              .slide-first-body-top {
                width: 120px;
                height: 120px;
                line-height: 0;
                .topsvg {
                  width: 120px;
                  height: 120px;
                }
              }
              .slide-first-body-bottom {
                width: 145px;
                height: 145px;
                margin-top: 12px;
                margin-bottom: 12px;
                .bottomimg {
                  width: 145px;
                  height: 145px;
                }
              }
            }
          }
          .swiper-slide {
            width: 195px !important;
            height: 386px;
            .slide-lnk {
              width: 100%;
              height: 100%;
              position: relative;
              background-color: white;
              display: block;
              border-radius: 10px;
              position: relative;
              text-decoration: none;
              padding: 10px 10px;
              .slide-lnk-body {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                margin: 0 auto;
                overflow: hidden;
                .slide-lnk-top {
                  width: 100%;
                  height: 100%;
                }
                .slide-topsvg {
                  width: 100%;
                  height: 26px;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  margin-bottom: 4px;
                  .svg {
                    width: 120px;
                    height: 15px;
                    margin-left: 4px;
                  }
                }
                .slide-bottom {
                  width: 176px;
                  height: 334px;
                  display: flex;
                  flex-direction: column;
                  position: relative;
                  .slide-bottom-picture {
                    width: 176px;
                    height: 154px;
                    .slide-bottom-picture-inside {
                      width: 100%;
                      height: 150px;
                      display: flex;
                      align-items: stretch;
                      flex-direction: column;
                      margin-bottom: 4px;
                      position: relative;
                      .picture-inside {
                        width: 150px;
                        height: 150px;
                        display: flex;
                        margin-left: 13px;
                        margin-right: 13px;
                        .img {
                          width: inherit;
                          height: inherit;
                          display: flex;
                          .-inside {
                            object-fit: contain;
                          }
                        }
                      }
                    }
                  }
                  .slide-bottom-product-info {
                    width: 100%;
                    height: 180px;
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: flex-start;
                    .name-product {
                      width: inherit;
                      height: 52px;
                      .name-h {
                        width: inherit;
                        height: inherit;
                        font-family: var(--fontFamily);
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        color: #6a7493;
                        font-size: 0.9rem;
                        line-height: 2;
                        text-align: start;
                      }
                    }
                    .send-product {
                      width: inherit;
                      height: 30px;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      margin-bottom: 4px;
                      .send-product-info {
                        width: 75px;
                        height: 29px;
                        display: flex;
                        align-items: center;
                        .svg {
                          width: 18px;
                          height: 18px;
                          display: flex;
                          margin-left: 4px;
                          .svi-in {
                            width: 18px;
                            height: 18px;
                          }
                        }
                        .today {
                          width: 52px;
                          height: 24px;
                          font-family: var(--fontFamily);
                          font-size: 11px;
                          color: #62666d;
                          text-align: center;
                          margin-top: 10px;
                        }
                      }
                    }
                    .product-price {
                      width: 100%;
                      height: 61px;
                      display: flex;
                      flex-direction: column;
                      align-items: stretch;
                      justify-content: space-between;
                      padding-top: 4px;
                      .price-discount {
                        width: inherit;
                        height: 37px;
                        display: flex;
                        align-items: center;
                        .disc {
                          width: 34px;
                          height: 20px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          background-color: #d32f2f;
                          border-radius: 25px;
                          padding-left: 4px;
                          padding-right: 4px;
                          color: white;
                          .dis-span {
                            font-family: var(--fontFamily);
                            margin: 0 auto;
                            font-size: 12px;
                          }
                        }
                        .prc {
                          width: 143px;
                          height: 35px;
                          display: flex;
                          flex-grow: 1;
                          align-items: center;
                          justify-content: flex-end;
                          column-gap: 4px;
                          color: #3f4064;
                          font-family: var(--fontFamily);
                          .tooman {
                            width: 16px;
                            height: 16px;
                            display: flex;
                          }
                        }
                      }
                      .product-price-before {
                        width: 176px;
                        height: 27px;
                        padding-left: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .price-before {
                          font-family: var(--fontFamily);
                          margin-right: auto;
                          font-size: 12px;
                          align-self: flex-end;
                          text-decoration-line: line-through;
                          color: #c0c2c5;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
