.new-items{
    width: 100%;
    height: 290px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .new-items-img{
        width: 88%;
        height: 242px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 23px;
        .new-items-img-1{
            width: 317px;
            height: inherit;
            object-fit: cover;
            border-radius: 17px;
            cursor: pointer;
        }
    }
}